:root {
  --primary-white: hsl(0, 0%, 100%);
  --primary-black: hsl(0, 0%, 0%);
  --primary-dark-gray: hsl(0, 0%, 55%);
  --primary-very-dark-gray: hsl(0, 0%, 41%);
  --font-alata: "Alata";
  --font-josefin: "Josefin Sans";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hero section */
.container {
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/desktop/image-hero.jpg") no-repeat center/cover;
}

.items-wrapper {
  max-width: 1150px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  color: var(--primary-white);
  font-family: var(--font-alata);
  font-size: 15px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.navbar li:after {
  content: "";
  position: absolute;
  width: 40%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 20px;
  background-color: var(--primary-white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.text-wrapper {
  margin-top: 5em;
  padding: 35px 25px 35px 45px;
  width: 58%;
  border: 2px solid var(--primary-white);
}

.text-wrapper h1 {
  font-size: 4em;
  font-weight: 200;
  letter-spacing: 4px;
  color: var(--primary-white);
  font-family: var(--font-josefin);
}

/* Showcase section */
.showcase {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.showcase-text {
  padding: 4em 1em 4em 6.5em;
  background: var(--primary-white);
  position: relative;
  top: 135px;
  right: 160px;
}

.showcase h1 {
  margin-top: 1em;
  font-size: 2.2em;
  font-family: var(--font-josefin);
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 4px;
}

.showcase p {
  width: 415px;
  margin-top: 1.5em;
  color: var(--primary-dark-gray);
  font-family: var(--font-alata);
  font-size: 0.9em;
}

/* Grid items showcase */
.showcase-grid {
  max-width: 1200px;
  margin: auto;
}

.showcase-grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase-grid-header-title {
  color: var(--primary-black);
  font-family: var(--font-josefin);
  text-transform: uppercase;
  font-size: 2.5em;
}

.showcase-grid-header-button {
  font-family: var(--font-alata);
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1.5px solid var(--primary-black);
  padding: 1em 3.5em 1em 3.5em;
  cursor: pointer;
}

.showcase-grid-items {
  margin-top: 6em;
  display: grid;
  grid-template-columns: repeat(4, 255px);
  grid-template-rows: repeat(2, 450px);
  column-gap: 3.8em;
  row-gap: 2em;
}

.grid-item-text {
  display: flex;
  height: 100%;
  flex-flow: row;
  align-items: flex-end;
  color: var(--primary-white);
  font-family: var(--font-josefin);
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0 0 40px 40px;
}

.showcase-grid-header-button:hover {
  background: var(--primary-black);
  color: var(--primary-white);
  transition: all 0.3s;
}

.grid-item-text:hover {
  color: var(--primary-black);
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.3s;
}

/* Footer section */
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  height: 220px;
  background-color: var(--primary-black);
}

.socials {
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
}

.icon {
  margin-left: 1.2em;
  cursor: pointer;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5em;
}

.footer-nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav nav ul {
  display: flex;
  list-style: none;
}

.footer-nav nav ul li {
  color: var(--primary-white);
  font-family: var(--font-alata);
  font-size: 15px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.footer-nav li:after {
  content: "";
  position: absolute;
  width: 40%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 20px;
  background-color: var(--primary-white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.footer-nav li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Attribution section */

.copy {
  color: var(--primary-very-dark-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--primary-white);
  margin-top: 3em;
}
.attribution a {
  color: var(--primary-white);
  font-family: var(--font-alata);
}
