:root {
  --primary-blue: rgb(102, 226, 220);
  --primary-orange: rgb(250, 116, 83);
  --primary-darkyellow: rgb(255, 185, 100);
  --primary-white: rgb(252, 250, 249);
  --primary-dark: rgb(25, 24, 38);

  --primary-font: "IBM Plex Sans", sans-serif;
}

body {
  font-family: var(--primary-font);
  background: url("./assets/bg-main-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-hero {
  max-width: 1000px;
  margin: 0 auto;
}

.showcase-hero .nav {
  display: flex;
  justify-content: space-between;
}

.nav img {
  position: relative;
  bottom: 40px;
  left: 100px;
}

.main-content {
  margin-top: 2em;
}

.main-content h1 {
  font-size: 4em;
  margin-top: 1.5em;
  font-weight: bold;
}

.main-content .logo {
  font-weight: bold;
  font-size: 1.5em;
}
