:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan-two: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --white: hsl(0, 0%, 100%);

  --font-spacemonoreg: "Space Mono";
}

body {
  background: var(--light-grayish-cyan);
  font-family: var(--font-spacemonoreg);
}

.container {
  width: 800px;
  margin: 5em auto 0;
}

.container h1 {
  text-align: center;
  font-size: 1.5em;
  color: var(--very-dark-cyan);
  letter-spacing: 8px;
}

.main {
  width: 100%;
  height: 360px;
  margin: 5em 0;
  border-radius: 12px;
  background: var(--white);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-left {
  width: 50%;
  padding: 25px;
}

.content-left input[type="text"] {
  background-image: url("./images/icon-dollar.svg");
  background-position: 4% 50%;
  background-repeat: no-repeat;
  text-align: right;
  color: var(--very-dark-cyan);
  width: 75%;
  padding: 13px 30px 13px 0;
  margin: 1em auto;
  border-radius: 12px;
  border: 2px solid var(--white);
  font-family: var(--font-spacemonoreg);
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
}

.content-left input:focus {
  outline: none !important;
  border: 2px solid #90ee90;
  box-shadow: 0 0 0 #90ee90;
}

.content-left .bill {
  font-size: 0.8em;
  color: var(--dark-grayish-cyan);
  font-weight: bold;
}

.content-left .select-tip {
  font-size: 0.8em;
  color: var(--dark-grayish-cyan);
  font-weight: bold;
}

.content-left .content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-rows: auto;
  gap: 10px;
  margin: 0.5em 0 1.5em 0;
}

.content-left .content-grid .grid-item {
  height: 30px;
  width: 75px;
  background: var(--very-dark-cyan);
  border-radius: 3px;
  text-align: center;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.custom-item {
  height: 30px;
  width: 75px;
  background: var(--white);
  border-radius: 3px;
  text-align: center;
  color: var(--dark-grayish-cyan);
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1em;
}

.content-left .content-grid .grid-item:hover {
  background: var(--strong-cyan);
  color: #000;
}

.num-people {
  font-size: 0.8em;
  color: var(--dark-grayish-cyan);
  font-weight: bold;
}

.people input[type="text"] {
  background-image: url("./images/icon-person.svg");
  background-position: 4% 50%;
  background-repeat: no-repeat;
  text-align: right;
  color: var(--very-dark-cyan);
  width: 75%;
  padding: 13px 30px 13px 0;
  border-radius: 12px;
  border: 2px solid var(--white);
  font-family: var(--font-spacemonoreg);
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
}

.content-right {
  width: 50%;
  padding: 25px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
