:root {
    --orange: rgb(255,125,26);
    --white: hsl(0, 0%, 100%)
    --black: hsl(0, 0%, 0%)
    --very-vark-blue: rgb(29,32,37);
    --dark-grayish-blue: rgb(104,112,125);
    --grayish-blue: rgb(182,187,200);
}

* {
    box-sizing: border-box
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 120px;
 border-bottom: 1px solid var(--grayish-blue);
}

.navbar-mobile{
 display: none;
 height: 110vh;
 width: 300px;
 background: white;
 z-index: 10;
 position: absolute;
 top: 0;
 left: 0;
}

.navbar-mobile ul{
 position: absolute;
 top: 100px;
 left: -10px;
 list-style: none;
}

.navbar-mobile ul li{
 cursor: pointer;
 margin-top: 0.8em;
 font-weight: bold;
 font-size: 1.2em;
}

.close-btn{
  position: absolute;
  top: 65px;
  left: 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.navbar-left{
  display: flex;
  align-items: center;
}

.navbar-left .hamburger{
    margin: 0.4em 0 0 1em;
    display: none;
    cursor: pointer;
}

.navbar-left ul li{
    display: inline-block;
    margin-right: 1.6em;
    color: var(--dark-grayish-blue);
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.navbar-left ul li:after{
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  top: 66px;
  background-color: var(--orange);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-left ul li:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-right{
    display: flex;
    align-items: center;
}

.navbar-right img{
    margin-left: 3em;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.navbar-right img:hover{
   border: 2px solid var(--orange);
   border-radius: 50%;
}

.navbar-right svg{
    cursor: pointer;
}

.navbar ul{
    display: flex;    
    list-style: none;
}

.main {
    display: flex;
    margin: 5em auto;
    max-width: 900px;
}

.main-image svg{
    position: relative;
    bottom: 220px;
    display: none;
}

.main-image .previous {
    position:relative;
    left: 45px;
    cursor: pointer
}

.main-image .next {
    position:relative;
    right: 45px;
    cursor: pointer
}

.main-images {
    display: flex;
}

.grid-img img{
    border-radius: 12px;
    width: 100px;
    margin: 1em 1em 0 0;
    cursor: pointer;
}

#img-1 img{
    border: 2px solid var(--orange);
    opacity: 0.6;
}

.main .left-side .main-img{
    height: 450px;
    weight: 450px;
    border-radius: 12px;
}

.pricing{
    display: flex;
}

.pricing .price {
    margin-right: 1em;
}

.add-to-cart{
    display: flex;
}

.add-remove-items{
    margin-right: 1em;
}

.right-side {
    margin: 4em 0 0 5em;
}

.right-side .title{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--orange);
    letter-spacing: 2px;
}

.right-side .title-secondary{
    margin-top: 0.8em;
    font-size: 2.6em;
    font-weight: bold;
}

.right-side .description {
    margin: 2em 0 2em 0;
    color: var(--dark-grayish-blue);
    width: 450px
}

.pricing {
    align-items: center;
    margin: 2em 0 0.5em 0;
}

.price{
    font-size: 2em;
    font-weight: bold;
}

.pricing .price-discount{
    background: rgb(255,237,224);
    padding: 5px;
    border-radius: 8px;
    color: var(--orange);
    font-weight: bold;
}

.money-saved{
    font-weight: bold;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.add-to-cart{
    margin-top: 2em;
    display: flex;
    align-items: center;
}

.add-remove-items{
    padding: 10px;
    width: 100px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(247,245,255);
}

.add-btn{
    background: var(--orange);
    padding: 12px;
    border-radius: 12px;
    color: #fff;
    width: 180px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn svg{
    fill: #fff;
    margin-right: 0.5em;
}

.add-btn:hover{
    opacity: 0.7;
}

.add-remove-items svg{
    cursor: pointer;
}

@media (max-width: 1024px){
    .right-side{
        margin: 2em 0 0 2em;
    }
}

@media (max-width: 968px){
    .right-side .title-secondary{
        font-size: 1.4em;
    }

    .right-side .description {
        width: 250px
    }
    .add-btn{
        width: 145px;
    }
}

@media (max-width: 768px){
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .add-to-cart{
        flex-direction: column;
    }
    .add-remove-items{
        width: 420px;
        margin: 0 0 1em 0;
    }
    .add-btn{
        width: 420px;
    }
    .right-side .title-secondary{
        font-size: 1.8em;
    }

    .right-side .description {
        width: 400px
    }
    .money-saved{
        position: relative;
        bottom: 40px;
        left: 350px;
    }
    .main-images{
        display: none;
    }
    .main-image svg{
        display: inline-block;
    }
    .navbar-left .hamburger{
        margin-right: 2em;
        display: inline-block;
    }
    
    .navbar-left ul li{
        display: none;
    }
    .navbar-mobile.active{
        display: inline-block;
    }
}

//todo navbar and icons on the image