:root {
  --primary-light-blue: rgb(0, 121, 255);
  --primary-light-gray: rgb(105, 124, 154);
  --primary-light-darkblue: rgb(75, 106, 155);
  --primary-light-darkgray: rgb(43, 52, 66);
  --primary-light-lightgray: rgb(246, 248, 255);
  --primary-light-white: rgb(254, 254, 254);

  --primary-dark-blue: rgb(0, 121, 255);
  --primary-dark-white: rgb(255, 255, 255);
  --primary-dark-black: rgb(20, 29, 47);
  --primary-dark-lightblack: rgb(30, 42, 71);

  --font-spacemonoreg: "Space Mono";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


