:root {
  --primary-light-blue: rgb(0, 121, 255);
  --primary-light-gray: rgb(105, 124, 154);
  --primary-light-darkblue: rgb(75, 106, 155);
  --primary-light-darkgray: rgb(43, 52, 66);
  --primary-light-lightgray: rgb(246, 248, 255);
  --primary-light-white: rgb(254, 254, 254);

  --primary-dark-blue: rgb(0, 121, 255);
  --primary-dark-white: rgb(255, 255, 255);
  --primary-dark-black: rgb(20, 29, 47);
  --primary-dark-lightblack: rgb(30, 42, 71);

  --font-spacemonoreg: "Space Mono";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-light-lightgray);
}

.container {
  width: 680px;
  margin: 2em auto 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .title {
  font-family: var(--font-spacemonoreg);
  font-size: 26px;
}

.header .mode-items {
  color: var(--primary-light-gray);
  font-family: var(--font-spacemonoreg);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .mode-items {
  display: flex;
}

.header .mode-items img {
  width: 20px;
  height: 20px;
  margin-left: 1em;
  cursor: pointer;
}

.header .mode-items img:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(20%);
}

.search-bar input[type="text"] {
  background-color: white;
  background-image: url("./assets/icon-search.svg");
  background-position: 4% 50%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 23px 0 23px 75px;
  margin-top: 3em;
  border-radius: 12px;
  border: 1px thin var(--primary-light-lightgray);
  font-family: var(--font-spacemonoreg);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
}

.search-bar input::placeholder {
  font-size: 1.3em;
  font-family: var(--font-spacemonoreg);
}

.search-bar .btn {
  text-align: center;
  position: relative;
  bottom: 53px;
  left: 575px;
  width: 95px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-family: var(--font-spacemonoreg);
  background: var(--primary-light-blue);
  color: var(--primary-light-white);
}

.no-result-msg {
  text-align: center;
  position: relative;
  bottom: 85px;
  left: 170px;
  font-family: var(--font-spacemonoreg);
  color: red;
  height: 0;
}

.main {
  display: flex;
  height: 410px;
  margin-top: -1.5em;
  background: var(--primary-light-white);
  border: 1px thin var(--primary-light-lightgray);
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: -1px 1px 9px 7px rgba(0, 0, 0, 0.1);
}

.main .profile-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 2em 0 0 2.5em;
}

.content {
  width: 70%;
  margin: 2em auto 0;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content-header .profile-username {
  font-family: var(--font-spacemonoreg);
  font-weight: bold;
  font-size: 26px;
}

.content-header .profile-username p {
  font-size: 0.5em;
  color: var(--primary-light-blue);
  font-weight: normal;
}

.content-header .profile-joindate {
  color: var(--primary-light-gray);
  font-family: var(--font-spacemonoreg);
  font-size: 1em;
  margin-top: 0.5em;
}

.content-bio {
  margin-top: 1.8em;
  color: var(--primary-light-gray);
  font-family: var(--font-spacemonoreg);
}

.content-data {
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 22%;
  border-radius: 12px;
  background: var(--primary-light-lightgray);
}

.content-data h4 {
  color: var(--primary-light-gray);
  font-family: var(--font-spacemonoreg);
  font-weight: normal;
}

.content-data p {
  font-size: 1.2em;
  font-family: var(--font-spacemonoreg);
  font-weight: bold;
}

.content-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1.5em;
  height: 22%;
  border-radius: 12px;
}

.content-info .item {
  display: flex;
  align-items: center;
  flex: 1 1 calc(100% - 50px);
}

.content-info .item img {
  margin-right: 1em;
}

#twitter {
  filter: invert(100%) sepia(100%) saturate(0%);
}

#website h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content-info .item h3 {
  color: var(--primary-light-gray);
  font-family: var(--font-spacemonoreg);
  font-weight: normal;
  font-size: 16px;
}
