:root {
  --primary-light-blue: rgb(0, 121, 255);
  --primary-light-gray: rgb(105, 124, 154);
  --primary-light-darkblue: rgb(75, 106, 155);
  --primary-light-darkgray: rgb(43, 52, 66);
  --primary-light-lightgray: rgb(246, 248, 255);
  --primary-light-white: rgb(254, 254, 254);

  --primary-dark-blue: rgb(0, 121, 255);
  --primary-dark-white: rgb(255, 255, 255);
  --primary-dark-black: rgb(20, 29, 47);
  --primary-dark-lightblack: rgb(30, 42, 71);

  --font-spacemonoreg: "Space Mono";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-light-lightgray);
}

.container {
  width: 680px;
  height: 500px;
  margin: 5em auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header .title {
  font-family: var(--font-spacemonoreg);
  font-size: 26px;
}

.header .mode-items {
  color: var(--primary-light-gray);
  font-family: var(--font-spacemonoreg);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .mode-items {
  display: flex;
}

.header .mode-items img {
  width: 20px;
  height: 20px;
  margin-left: 1em;
}

